* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, #d53369, #cbad6d);
  color: #212121;
  line-height: 1.5;
}
body a {
  color: #cbad6d;
}

img {
  display: block;
  max-width: 100%;
}

.sl-overlay {
  background: #cbad6d !important;
}
